h1 {
    text-align: center
}
p {
    text-align: center;
    font-size: 20px;
}
.section-input {
    background-color: #1B3C59;
    padding: 20px;
    label, h2 {
        color: white;
    }
}
.center {
    margin: 0 auto;
}
